<!DOCTYPE html>
<html>
  <head>
    <title>ChatReactRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= yield %>
    <%= yield :after_js %>
    <% if Rails.env.development? %>
      <%= debug params %>
      <%= "Current user: #{current_user.name}" if current_user %>
    <% end %>
  </body>
</html>
